h1{
    color: #b230f8;
    font-size: 60px;    
}

header{
    text-align: margin;
    font-size: 50px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8a30f8;
    width: 150px;
    height: 60px;
    border-radius: 20px;
}


.nome_da_receita{
    text-align: margin;
    font-size: 30px;
    color: #cb73fb;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instrucoes{
    text-align: margin;
    font-size: 20px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

.biscoito_outracoisa.WEBP{
    width: 300px;
    height: 300px;
    margin: 15px;
}

.bolo_de_chocolate.JPG{
    width: 300px;
    height: 300px;
    margin: 15px;
}