body{
    padding: 20px;
}



h1{ background-color: #f45eff;
    padding: 100px;
    text-align: center;
    color: #b230f8;
    font-size: 70px;    
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke: 1px #000000;
}

header{
    padding: 20px;
    font-size: 50px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8a30f8;
    width: 150px;
    height: 60px;
    border-radius: 20px;
}


.nome_da_receita{
    text-align: margin;
    font-size: 30px;
    color: #cb73fb;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instrucoes{
    text-align: margin;
    font-size: 20px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instrucoes h3 {
    text-align:margin;
    font-size:25px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20;
    margin-bottom: 20px;
    background-color: #f45eff;
    width: 250px;
    height: 30px;
}

.biscoito_outracoisa.WEBP{
    width: 150px;
    height: auto;
    margin: 15px;
    border-radius: 10px;
}

.bolo_de_chocolate.JPG{
    width: 300px;
    height: auto;
    margin: 15px;
    border-radius: 10px;
}

.pudim.JPG{
    width: 300px;
    height: auto;
    margin: 15px;
    border-radius: 10px;
}